body {
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* title */
#title-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.headline {
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#main-wrapper {
    width: 800px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 40px;
}

.red {
    color: coral;
}

.green {
    color: aquamarine;
}

.yellow {
    color: gold;
}

.two-columns {
    display: flex;
}

.left, .right {
    width: 50%;
    padding: 10px;
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 50px;
}

/* Center the canvas */
#p5-canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative;
}

canvas {
    /* Optional border for visual aid */
    border: 2px solid coral;
}

/* Home button */
#home-button a {
    position: fixed;
    right: 30px;
    top: 30px;
    padding: 10px 20px;
    color: dimgrey;
    border: solid dimgrey 0.5px;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
}

#home-button a:hover {
    background-color: coral;
    color: black;
}

